// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$eau-blue: #033673;
$eau-semi-blue: #B5CBE7;
$eau-light-blue: #EFF4FB;
$eau-yellow: #F9DC5C;
