 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <h1>My bookings:</h1>
        <% @my_bookings.each do |b| %>
          <p><%= b.start_date  %></p>
        <% end %>
      </div>
