<h1>Eau BnB</h1>
<p>After the global warming, boats will be da shit!</p>


<div class="container">
  <div class="card">
    <p class="d-flex justify-content-between align-items-center">Description</p>
    <%@boat.each do |boat|%>
      <p><%= boat.name %></p>
    </div>
    <% end %>
  </div>
</div>
