.banner {
  background-image: linear-gradient(rgba(255, 255, 255,0.7),rgba(255, 255, 255,0.9)), asset-url("bookings.jpg");
  background-size: cover;
  background-position: center;
  // transition: 1s ease;
  // padding: 150px 0;
  h1 {
    font-family: 'Open Sans';
    color: $eau-blue;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 24px;
    margin: 0;
  }
  p {
  font-size: 20px;
  color: black;
  // opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  a {
    color: $eau-blue;
    &:hover {
      text-decoration: none;
      color: $black;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
      // font-family: 'Pinyon Script', cursive;
      // font-size: 20px;
      // line-height: 1.5;
    }
  }
}
