.card {
  &.boat-card {
    box-shadow: 3px 3px 3px 0px rgba(5, 5, 5, .1);
    margin: 1.2rem;
    border-radius: 0px 0px 20px 20px;
  }
  &.booking-card {
    border-radius: 0px 0px 20px 20px;
  }
}
.card-details {
  margin-top: -15px;
}

.card-name {
  font-family: 'Pinyon Script', cursive;
  font-size: 32px;
  color: $eau-blue;
  margin-top: 10px;
}

.show-boat-card {
  margin-bottom: 1rem;
}

.card-avatar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-info {
  margin-left: 5px;
  margin-bottom: 10px;
}


