.eau-form {
  input::placeholder {
    color: $eau-grey;
  }
  textarea::placeholder {
    color: $eau-grey;
  }
}

.form-wrapper input.form-control {
  display: inline-block;
}

.form-wrapper .form-group {
  width: 30%;
  display: inline-block;
}

.form-wrapper input.booking-button {
  display: inline-block;
  flex-grow: 1;
  margin-top: -3px;
}

.form-input {
  margin-right: 10rem;
}
