$soft-grey: #E5E4E5;

.eau-form {
  input::placeholder {
    color: $soft-grey;
  }
  textarea::placeholder {
    color: $soft-grey;
  }
}

.form-wrapper input.form-control {
  display: inline-block;
}

.form-wrapper .form-group {
  width: 30%;
  display: inline-block;
}

.form-wrapper input.booking-button {
  display: inline-block;
  flex-grow: 1;
  margin-top: -3px;
}
