.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 0px;
  .navbar-collapse {
  flex-grow: 0;
  }
  .navbar-brand img {
    height: 60px;
    padding: -10px;

  }
}

#navbarDropdown {
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

#brand {
  text-align: left;
}
