// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $eau-light-blue;
}

h1 {
  color: $eau-blue;
  font-family: 'Cinzel';
  // font-weight: bold;
}

.div-scroller {
  overflow-y: auto;
  height: 700px;
}
